main {
    display: flex;
    flex-direction: column;
}

.left {
    flex: 1;
    min-height: 230px;
    background-image: $linear-gradient;
    position: relative;
}

.left::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    position: absolute;
}

.right {
    flex: 2;
    padding: 1.5rem;
    margin-top: 3rem;
}

form label {
    text-transform: uppercase;
    font-size: .9rem;
    color: hsl(278, 94%, 30%);
    margin-bottom: .5rem;
    letter-spacing: 2px;
    font-weight: 700;
}

form input {
    padding: 1rem;
    font-size: $font-size;
    border: 1px solid $light-grayish-violet;
    border-radius: 10px;
    width: 100%;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.form-field.not-valid input {
    border: 1px solid $red;
}

form input::placeholder {
    font-weight: 700;
    letter-spacing: 2px;
    color: $dark-grayish-violet;
}

fieldset {
    border: none;
    display: flex;
    position: relative;
}

fieldset div:nth-of-type(1),
fieldset div:nth-of-type(2) {
    width: 24%;
    margin-right: 8px;
}

fieldset div:nth-of-type(2) {
    margin-right: 1rem;
}

fieldset div:nth-of-type(3) {
    width: 48%;
}

fieldset legend {
    color: hsl(278, 94%, 30%);
    font-size: 1rem;
    position: absolute;
    top: 0;
}

button {
    width: 100%;
    background-color: $very-dark-violet;
    color: $light-grayish-violet;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.25rem;
    margin-top: 1rem;
    cursor: pointer;
    letter-spacing: 1px;
}

.card-face,
.card-back {
    width: 285px;
    height: 155px;
    border-radius: 7px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-face {
    background-image: url(../images/bg-card-front.png);
    top: 120px;
    z-index: 1;
    padding: 1rem;
    color: $light-grayish-violet;
}

.card-logo {
    max-width: 60px;
    margin-bottom: 2rem;
}

.card-number {
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.card-holder-exp {
    font-size: .65rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
}

.card-back {
    background-image: url(../images/bg-card-back.png);
    top: 30px;
    left: 80px;

}

.cvc {
    position: absolute;
    color: $light-grayish-violet;
    top: 70px;
    font-size: .65rem;
    left: 225px;
    letter-spacing: 1px;
}

.form-field {
    position: relative;
}

.error {
    font-size: .75rem;
    position: absolute;
    bottom: 0;
    color: $red;
    text-align: right;

}

@media screen and (min-width: 768px) {
    main {
        flex-direction: row;
    }

    .left {
        flex: 1;
        min-width: 430px;
        background-image: $linear-gradient;
        height: 100vh;

    }

    form {
        max-width: 380px;
    }

    .right {
        flex: 2;
        padding: 2rem;
        display: grid;
        place-content: center;
    }

    .card-face,
    .card-back {
        width: 450px;
        height: 245px;
        border-radius: 7px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card-face {
        background-image: url(../images/bg-card-front.png);
        top: 155px;
        left: 160px;
        z-index: 1;
        padding: 2rem;
        color: $light-grayish-violet;
    }

    .card-logo {
        max-width: 85px;
        margin-bottom: 3rem;
    }

    .card-number {
        letter-spacing: 3px;
        margin-bottom: 2rem;
        font-size: 1.75rem;
    }

    .card-holder-exp {
        font-size: .75rem;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        letter-spacing: 2px;
    }

    .card-back {
        background-image: url(../images/bg-card-back.png);
        top: 420px;
        left: 250px;
    }

    .cvc {
        position: absolute;
        color: $light-grayish-violet;
        top: 112px;
        font-size: .85rem;
        left: 365px;
        letter-spacing: 1px;

    }
}