@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
/*Linear gradient (active input border)*/
$linear-gradient: linear-gradient(to bottom right, hsl(278, 94%, 30%), hsl(249, 99%, 64%), hsl(278, 94%, 30%), hsl(249, 99%, 64%));
/*Red (input errors)*/
$red: hsl(0, 100%, 66%);
/*Neutral*/
$White: hsl(0, 0%, 100%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$light-grayish-violet: hsl(270, 3%, 87%);
$very-dark-violet: hsl(278, 68%, 11%);
$font-size: 18px;
$font-family: 'Space Grotesk', sans-serif;